<p>
  <strong>Title:</strong>
  <%= @reflection.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @reflection.text %>
</p>

<%= link_to 'Edit', edit_reflection_path(@reflection) %> |
<%= link_to 'Reflections list', reflections_path %>